* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /// FONTS /// */

/* Helvetica Neue font */
@import url(//db.onlinewebfonts.com/c/81d87eba2f25b790803c324963f02063?family=Helvetica+Neue+LT+Com);

@font-face { font-family: "Helvetica Neue LT Com"; src: url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.eot"); src: url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.woff") format("woff"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.svg#Helvetica Neue LT Com") format("svg"); }

/* Helvetica Neue Bold font */
@import url(//db.onlinewebfonts.com/c/b812035768ba3b9e92b0a01c747eecbd?family=Helvetica+Neue);

@font-face { font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.eot"); src: url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.woff") format("woff"), url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b812035768ba3b9e92b0a01c747eecbd.svg#Helvetica Neue") format("svg"); }

/* Gotham Rounded light font */
@import url(//db.onlinewebfonts.com/c/1549fe8fd297f1e6501a3d6ad7f77394?family=Gotham+Rounded);

@font-face { font-family: "Gotham Rounded"; src: url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.eot"); src: url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.eot?#iefix") format
("embedded-opentype"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.woff") format("woff"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.svg#Gotham Rounded") format("svg"); }

/* Gotham font */
@import url(//db.onlinewebfonts.com/c/bd317adf74e5e7e564eb61ce9926cc6d?family=Gotham);

@font-face { font-family: "Gotham"; src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot"); src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff") format("woff"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.svg#Gotham") format("svg"); }

/* font selectors */
.helvetica-light {
  font-family: 'Helvetica Neue LT Com', Arial, Helvetica, sans-serif;
}

.helvetica-medium {
  font-family: 'Helvetica Neue LT Com', sans-serif;
  font-weight: bolder;
}

.helvetica-bold {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.gotham {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.gotham-rounded {
  font-family: 'Gotham Rounded', sans-serif;
}

/* Main colors */
.red {
  color: #d35266;
}

.dark-grey {
  color: #383838;
}

.grey {
  color: #888;
}


body {
  position: relative;
}

header {
  position: relative;
}

/**************************** MAIN PAGE ****************************/

.nothing {
  display: block;
  width: 100%;
  height: 50px;
}

/* The navbar starts here */
.main-nvb {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 0 1.5vw;
  background-color: #fffffff6;
}

.align-logo {
  width: 31.6vw;
}

.bonsai-country {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5vw;
}

.logo-1 {
  width: 35px;
  height: 35px;
}

.logo {
  width: 52px;
  height: 52px;
}

.logo-txt {
  line-height: 16px;
}

.first-txt {
  font-weight: bolder;
  margin-top: 3px;
}

.scnd-txt {
  font-size: 14px;
  margin: 0 auto;
}

.bttn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #d35266;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bttn-red {
  color: #383838;
  background-color: #d35266;
}

.searchbox {
  display: flex;
  height: 30px;
  align-items: center;
  background-color: #383838;
  border-radius: 30px;
  margin-left: 1vw;
}

.search-bttn {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  float: right;
  color: #f5f5f5;
  transition: 0.4s;
  background-color: #383838;
  border-radius: 50%;
}

.searchbox:hover > .search-bttn {
  color: #f5f5f5;
  text-decoration: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #f5f5f5;
  font-size: 17px;
  transition: 0.4s;
  line-height: 40px;
  width: 140px;
  padding-left: 20px;
}

.search-txt::placeholder {
  color: #f5f5f5;
}

.nvb-itm-spacing {
  padding-right: 0.5vw;
  margin-right: 0.5vw;
}

.nvb-links {
  font-size: 16px;
  color: #888;
}

.nvb-links:hover {
  text-decoration: none;
  color: #383838;
}

.fa-shopping-cart {
  font-size: 16px;
}

.menu-i i {
  font-size: 18px;
  color: #888;
}

/* The thematic picture starts here */
.thematic {
  height: 55.4vh;
  background: linear-gradient(transparent, #0000008d), url(../images/theme_bonsai_3.jpg);
  margin-bottom: 100px;
}

.bckg-img-settings {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Porduct lists start here */
.product-wrapping {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-title {
  color: #383838;
}

.see-all {
  color: #888;
}

.see-all:hover {
  color: #d35266;
  cursor: pointer;
}

.fa-chevron-right {
  font-size: 12px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 22px;
  margin-bottom: 60px;
}

.grd-img {
  padding-top: 80%;
  margin-bottom: 6px;
}

.add {
  background-color: #383838;
  color: #fff;
}

.add:hover {
  background-color: #d35266;
}

/* Bonsai images */
.bonsai1 {
  background-image: url(../images/Bonsai_1.jpg);
}

.bonsai2 {
  background-image: url(../images/Bonsai_2.jpg);
}

.bonsai3 {
  background-image: url(../images/Bonsai_3.jpg);
}

.bonsai4 {
  background-image: url(../images/Bonsai_4.jpg);
}

/* pots images */
.pot1 {
  background-image: url(../images/Pot_1.jpg);
}

.pot2 {
  background-image: url(../images/Pot_2.jpg);
}

.pot3 {
  background-image: url(../images/Pot_3.jpg);
}

.pot4 {
  background-image: url(../images/Pot_4.jpg);
}

/* Tools images */
.tool1 {
  background-image: url(../images/Tool_1.png);
}

.tool2 {
  background-image: url(../images/Tool_2.jpg);
}

.tool3 {
  background-image: url(../images/Tool_3.jpg);
}

.tool4 {
  background-image: url(../images/Tool_4.jpg);
}

/* Soils images */
.soil1 {
  background-image: url(../images/Soil_1.jpg);
}

.soil2 {
  background-image: url(../images/Soil_2.jpg);
}

.soil3 {
  background-image: url(../images/Soil_3.jpg);
}

.soil4 {
  background-image: url(../images/Soil_4.jpg);
}

/* The footer with info about this brand starts here */
footer {
  background-color: #383838;
}

.about-footer .product-wrapping {
  border-bottom: 1px solid #888;
}

.strd-txt {
  font-family: 'Gotham', sans-serif;
  font-size: 30px;
  color: #000;
}

.lorem {
  font-size: 12px;
}

.social-media {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social {
  background: rgb(51, 51, 51);
  border-radius: 50%;
  display: block;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
  margin: 0 0.5vw;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.social:hover {
  border: 2.2px solid rgb(51, 51, 51);
}

/* /// MEDIA QUERY /// */
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 22px;
  }
}

@media screen and (max-width: 380px) {
  .see-all {
    font-size: 12px;
  }

  .thematic h1 {
    font-size: 20px;
  }

  .thematic h5 {
    font-size: 13px;
  }

  .product-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 22px;
  }

  .social-media {
    max-width: 13vw;
  }

  .social {
    display: flex;
    background: transparent;
    border-radius: unset;
    height: unset;
    padding: 3px;
    width: unset;
    margin: 0 0.5vw;
    font-size: 10px;
    cursor: pointer;
  }

  .social:hover {
    border: none;
  }

  .gotham {
    font-size: 16px;
  }
}

/**************************** SEARCH RESULTS PAGE ****************************/

/* The thematic picture starts here */
.thematic2 {
  height: 45vh;
  background: linear-gradient(transparent, #0000008d), url(../images/bonsai_theme_7.jpg);
}

.bttn2 {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #888;
  border-color: #888;
}

.srch-txt:placeholder {
  color: #888;
  font-family: 'Gotham Rounded', Arial, Helvetica, sans-serif;
}

.bttn-srch {
  background-color: #d35266;
  color: #fff;
  font-size: 16px;
  border-color: #d35266;
}

/* The layout grid starts here */
.layout-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
}

.filters li {
  font-size: 18px;
}

.result {
  padding: 1.56vw;
  border: 1px solid #888;
  border-radius: 16px;
}

.result-img {
  width: 18.2vw;
  height: 18.2vw;
  margin-right: 1.56vw;
}

.bonsai5 {
  background-image: url(../images/Bonsai_5.jpg);
}

.bonsai6 {
  background-image: url(../images/Bonsai_6.jpg);
}

/* /// MEDIA QUERY /// */

@media screen and (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .result-img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 768px) {

  .thematic2 h1 {
    font-size: 20px;
  }

  .thematic2 h5 {
    font-size: 13px;
  }
}
